.hero_background {
  background-image: url("../images/backgroundmain-100.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 1062px;
  width: 1281px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.small-logo {
  height: 30px;
  width: 30px;
}

.hamburger {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: aqua;
  display: flex;
  align-items: center;
  border-radius: 50%;
  flex-wrap: wrap;
  padding: 0.5rem;
}
.hamburger_item {
  background: #222;
  display: block;
  height: 2.1px;
  width: 16.1px;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero .badge {
  height: 150px;
  width: 150px;
  margin-top: 200px;
}
.hero .header_container {
  width: 284px;
  height: 43px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .programs {
  width: 290px;
  height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.main-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f3e49;
}
.main-container h1 {
  color: #f96400;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 48px;
}
@media (max-width: 500px) {
  .main-container h1 {
    font-size: 36px;
  }
}
@media (max-width: 350px) {
  .main-container h1 {
    font-size: 24px;
  }
}
.main-container p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 35.2px;
  letter-spacing: -0.35px;
}
.main-container .pic-container {
  width: 100%;
  margin-top: 55px;
  display: flex;
  justify-content: center;
}
.main-container .pic-container img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.main-container .pic-text,
.main-container .pic-text2 {
  width: 100%;
  color: #909090;
  margin: none;
  padding: 20px 36px 78px;
  font-size: 16px;
}
@media (max-width: 500px) {
  .main-container .pic-text,
.main-container .pic-text2 {
    font-size: 13.5px;
    line-height: 17.6px;
    padding: 10px 18px 39px;
  }
}
.main-container .pic-text2 {
  padding: 20px 36px 29px;
}
@media (max-width: 500px) {
  .main-container .pic-text2 {
    padding: 10px 18px 14.5px;
  }
}
.main-container .overwhelming-q,
.main-container .bts-answer {
  width: 700px;
  margin: 0 auto 0;
}
@media (max-width: 860px) {
  .main-container .overwhelming-q,
.main-container .bts-answer {
    width: 80%;
  }
  .main-container .overwhelming-q .br,
.main-container .bts-answer .br {
    display: none;
  }
}
.main-container .overwhelming-q h1,
.main-container .bts-answer h1 {
  width: 350px;
  margin: 37px 0 35px -5px;
  letter-spacing: -2px;
}
@media (max-width: 500px) {
  .main-container .overwhelming-q h1,
.main-container .bts-answer h1 {
    width: 100%;
    margin: 18.5px 0 17.5px -2.5px;
  }
}
.main-container .overwhelming-q p,
.main-container .bts-answer p {
  margin-left: 1.7px;
  padding-bottom: 35px;
}
@media (max-width: 500px) {
  .main-container .overwhelming-q p,
.main-container .bts-answer p {
    font-size: 13.5px;
    line-height: 26.4px;
    padding-bottom: 17.5px;
  }
}
.main-container .overwhelming-q p span,
.main-container .bts-answer p span {
  margin-left: 1.3px;
  display: inline-block;
}
@media (max-width: 860px) {
  .main-container .overwhelming-q p span,
.main-container .bts-answer p span {
    display: inline;
  }
}
.main-container .overwhelming-q .bigger-p,
.main-container .bts-answer .bigger-p {
  padding-bottom: 70px;
}
@media (max-width: 500px) {
  .main-container .overwhelming-q .bigger-p,
.main-container .bts-answer .bigger-p {
    padding-bottom: 35px;
  }
}
.main-container .fourth {
  margin-bottom: 100px;
}
@media (max-width: 600px) {
  .main-container .fourth {
    margin-bottom: 50px;
  }
}
.main-container .fifth {
  margin: 0 84px 0 9px;
}
@media (max-width: 860px) {
  .main-container .fifth {
    margin: 0 15px;
  }
}
@media (max-width: 500px) {
  .main-container .fifth {
    margin: 0 7.5px;
  }
}
.main-container .fifth img {
  width: 100%;
}
.main-container .sixth {
  width: 700px;
  margin: 100px auto 0;
}
@media (max-width: 860px) {
  .main-container .sixth {
    width: 80%;
    margin: 50px auto 0;
  }
}
.main-container .sixth h3 {
  width: 770px;
  color: #ff5100;
  margin-bottom: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 24px;
}
@media (max-width: 860px) {
  .main-container .sixth h3 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .main-container .sixth h3 {
    margin-bottom: 9px;
    font-size: 18px;
  }
}
.main-container .sixth h3 span {
  font-weight: 500;
}
.main-container .sixth p {
  margin-left: 1.7px;
  padding-bottom: 46px;
}
@media (max-width: 500px) {
  .main-container .sixth p {
    margin-left: 0.85px;
    padding-bottom: 23px;
    font-size: 13.5px;
    line-height: 26.4px;
  }
}
.main-container .sixth p span {
  margin-left: 1.3px;
  display: inline-block;
}
@media (max-width: 860px) {
  .main-container .sixth p span {
    display: inline;
  }
}

/*# sourceMappingURL=style.css.map */
