$h-font-family: 'Montserrat', sans-serif;
$h1-font-weight: 900;
$span-font-weight: 500;
$h1-font-size: 48px;
$h3-font-size: 24px;

$p-font-family: 'Open Sans', sans-serif;
$p-font-weight: 300;
$p-font-size: 18px;

$pic-text-font-size: 16px;
$p-line-height: 35.2px;

$h1-letter-space: -2px;

/*
$h1-line-height: 54.2082pt;

$pic-text-line-height: 35.2pt;
*/