@use "color";
@use "basic";

.navbar {
  width: 100%;
  /*padding: 23px 26px 26px;*/
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  .small-logo {
    width: 70px;
    height: 30px;
    position: relative;
    top: 23px;
    left: 26px;
  }
                
  .hamburger {
    width: 30px;
    height: 30px;
    background-color: color.$top-pic-color;
    padding: 6.2px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    top: 23.7px;
    right: 27px;
  
    &_item {
      width: 16.1px;
      height: 2.1px;
      background: #222;
      display: block;
    }
  }
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -30px;

  .bg_img {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;

    .badge {
      width: 274px;
      height: 274px;
      box-sizing: content-box;
      padding-top: 175px;
    }

    .header_container {
      height: 43px;
      margin: 55px 0;
      padding: 24.5px 25px;
      background-color: color.$top-pic-color;
      display: flex;
      align-items: center;
      justify-content: center;

      .main_h3 {
        color: color.$background-color;
        font-family: basic.$h-font-family;
        font-weight: basic.$h1-font-weight;
        font-size: basic.$h3-font-size;
      }
    }

    .programs {
      width: 290px;
    }
  }

  .hero_h1 {
    max-width: 847px;
    margin-top: 86px;
    margin-left: 57px;
    letter-spacing: basic.$h1-letter-space;
    line-height: 54.2082px;
  } 
}