@use "modules";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.main-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: modules.$background-color;

  h1 {
    color: modules.$h-color;
    font-family: modules.$h-font-family;
    font-weight: modules.$h1-font-weight;
    font-size: modules.$h1-font-size;

    @media (max-width: 500px) {
      font-size: modules.$h1-font-size * 0.75;
    }

    @media (max-width: 350px) {
      font-size: modules.$h1-font-size * 0.5;
    }
  }

  p {
    color: modules.$p-color;
    font-family: modules.$p-font-family;
    font-weight: modules.$p-font-weight;
    font-size: modules.$p-font-size;
    line-height: modules.$p-line-height;
    letter-spacing: -0.35px;  
  }
  
  .pic-container {
    width: 100%;
    margin-top: 55px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }

  .pic-text,
  .pic-text2 {
    width: 100%;
    color: modules.$pic-text-color;
    margin: none;
    padding: 20px 36px 78px;
    font-size: modules.$pic-text-font-size;

    @media (max-width: 500px) {
      font-size: modules.$p-font-size * 0.75;
      line-height: modules.$p-line-height * 0.5;
      padding: (20px * 0.5) (36px * 0.5) (78px * 0.5);
    }
  }
  
  .pic-text2 {
    padding: 20px 36px 29px;

    @media (max-width: 500px) {
      padding: (20px * 0.5) (36px * 0.5) (29px * 0.5);
    }
  }

  .overwhelming-q,
  .bts-answer {
    width: 700px;
    margin: 0 auto 0;

    @media (max-width: 860px) {
      width: 80%;
        
      .br {
        display: none;
      }
    }

    h1 {
      width: 350px;
      margin: 37px 0 35px -5px;
      letter-spacing: modules.$h1-letter-space;

      @media (max-width: 500px) {
        width: 100%;
        margin: (37px * 0.5) 0 (35px * 0.5) (-5px * 0.5);
      }
    }

    p {
      margin-left: 1.7px;
      padding-bottom: 35px;

      @media (max-width: 500px) {
        font-size: modules.$p-font-size * 0.75;
        line-height: modules.$p-line-height * 0.75;
        padding-bottom: (35px * 0.5);        
      }

      span {
        margin-left: 1.3px;
        display: inline-block;

        @media (max-width: 860px) {
          display: inline;
        }
      }
    }

    .bigger-p {
      padding-bottom: 70px;

      @media (max-width: 500px) {
        padding-bottom: 70px * 0.5;
      }
    }
  }
  
  .fourth { 
    margin-bottom: 100px;

    @media (max-width: 600px) {
      margin-bottom: 100px * 0.5;
    }
  }

  .fifth {
    margin: 0 84px 0 9px;

    @media (max-width: 860px) {
      margin: 0 15px;
    }

    @media (max-width: 500px) {
      margin: 0 (15px * 0.5);
    }

    img {
      width: 100%;
    }
  }

  .sixth {
    width: 700px;
    margin: 100px auto 0;

    @media (max-width: 860px) {
      width: 80%;
      margin: (100px * 0.5) auto 0;
    }

    h3 {
      width: 770px;
      color: modules.$h3-color;
      margin-bottom: 18px;
      font-family: modules.$h-font-family;
      font-weight: modules.$h1-font-weight;
      font-size: modules.$h3-font-size;

      @media (max-width: 860px) {
        width: 100%;
      }

      @media (max-width: 500px) {
        margin-bottom: 18px * 0.5;
        font-size: modules.$h3-font-size * 0.75;
      }

      span {
        font-weight: modules.$span-font-weight;
      }
    }

    p {
      margin-left: 1.7px;
      padding-bottom: 46px;

      @media (max-width: 500px) {
        margin-left: (1.7px * 0.5);
        padding-bottom: (46px * 0.5);
        font-size: modules.$p-font-size * 0.75;
        line-height: modules.$p-line-height * 0.75;
      }

      span {
        margin-left: 1.3px;
        display: inline-block;

        @media (max-width: 860px) {
          display: inline;
        }
      }
    }
  }
}

