@use "modules";


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: modules.$background-color;

  h1 {
    color: modules.$h-color;
    font-family: modules.$h-font-family;
    font-weight: modules.$h1-font-weight;
    font-size: modules.$h1-font-size;
  }

  p {
    color: modules.$p-color;
    font-family: modules.$p-font-family;
    font-weight: modules.$p-font-weight;
    font-size: modules.$p-font-size;
    line-height: modules.$p-line-height;
    letter-spacing: -0.35px;
  }
  
  .pic-container {
    width: 100%;
    margin-top: 55px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }

  .pic-text,
  .pic-text2 {
    width: 100%;
    color: modules.$pic-text-color;
    margin: none;
    padding: 20px 36px 78px;
    font-size: modules.$pic-text-font-size;
  }
  
  .pic-text2 {
    padding: 20px 36px 29px;
  }

  .overwhelming-q,
  .bts-answer {
    width: 700px;
    margin: 0 auto 0;

    h1 {
      width: 350px;
      margin: 37px 0 35px -5px;
      letter-spacing: modules.$h1-letter-space;
    }

    p {
      margin-left: 1.7px;
      padding-bottom: 35px;

      span {
        margin-left: 1.3px;
        display: inline-block;
      }
    }

    .bigger-p {
      padding-bottom: 70px;
    }
  }
  
  .fourth { 
    margin-bottom: 100px;
  }

  .fifth {
    margin: 0 84px 0 9px;

    img {
      width: 100%;
    }
  }

  .sixth {
    width: 700px;
    margin: 100px auto 0;

    h3 {
      width: 770px;
      color: modules.$h3-color;
      font-family: modules.$h-font-family;
      font-weight: modules.$h1-font-weight;
      margin-bottom: 18px;
      font-size: modules.$h3-font-size;

      span {
          font-weight: modules.$span-font-weight;
      }
    }

    p {
      margin-left: 1.7px;
      padding-bottom: 46px;

      span {
        margin-left: 1.3px;
        display: inline-block;
      }
    }
  }
}

